<!-- Buttons Start -->

<hr>

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <a href="about"><button class="button">/about</button></a>
        <a href="blog"><button class="button">/blog</button></a>
        <a href="now"><button class="button">/now</button></a>
        <a href="hello"><button class="button">/hello</button></a>
        <a href="jetcim"><button class="button">/jetcim</button></a>
        <a href="tsundoku"><button class="button">/tsundoku</button></a>
        <a href="recipe"><button class="button">/recipe</button></a>
        <a href="then"><button class="button">/then</button></a>
        <a href="grandcanyon"><button class="button">/grandcanyon</button></a>
        <a href="outsider"><button class="button">/outsider</button></a>

      </div>
    </div>
</section>

<!-- Buttons End -->
